.profile-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .profile-image:hover .overlay {
    opacity: 1;
  }
  
  .profile-image .overlay p {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
  }
  
  .profile-image .overlay input[type="file"] {
    display: none;
  }
  
  
  
  
  
  
  