button.fc-dayGridMonth-button.fc-button.fc-button-primary {
    background-color: #15356c;
    border-color: #122f61;
    margin-left: 0
}
button.fc-timeGridWeek-button.fc-button.fc-button-primary{
    margin-left: 0;
    background-color: #15356c;
    border-color:#122f61;

}
button.fc-timeGridDay-button.fc-button.fc-button-primary{
    background-color: #15356c;
    border-color: #122f61;
    margin-left: 0;
}

button.fc-prev-button.fc-button.fc-button-primary{
    background-color: #15356c;
    border-color: #122f61;
    margin-left: 0;
}

button.fc-next-button.fc-button.fc-button-primary{
    background-color: #15356c;
    border-color: #122f61;
    margin-left: 0;    
}


button.fc-today-button.fc-button.fc-button-primary{
    background-color: #15356c;
    border-color: #122f61;
    margin-left: 1 em;
}
.modal-header{
    background-color: #15356c;
    border-color: #122f61;
}
.form-control-feedback {
    position: absolute;
    padding: 1rem;
    padding-top: 1.9rem;
    pointer-events: none;
  }
  
  .form-control {
    padding-left: 2.2rem!important;
  }